@using questPlayer.Models
@model questPlayer.Models.QuestPageModel

@{
    ViewBag.Title = "Question";
}
<link href="~/Content/Quest.css" rel="stylesheet" type="text/css" />
<h2>@Html.DisplayFor(model => model.Question)</h2>

@if (!String.IsNullOrEmpty(Model.Sound))
{
    <audio controls="controls">
        <source src="~/Content/Music/@Model.QuestId/@Model.Sound" type="audio/mp3" />
    </audio>
}
<div>
    @foreach (var answer in Model.Answers)
    {
        <tr>
            <td>HP: </td>
            <td>Mana:@answer.Mana </td>
            <td>SuperMana:@answer.SuperMana </td>
        </tr>
    }

   

    @if (!String.IsNullOrEmpty(Model.Image))
    {
        <img src="~/Content/Pictures/@Model.QuestId/@Model.Image"/>
    }
    <h4>What will you say?</h4>


    @foreach (var answer in Model.Answers)
    {
        //todo check enough resources;
        @Html.ActionLink(answer.AnswerText, "Question", "Quest", new {questId = Model.QuestId, questionId = answer.RedirectId, startNew = true, hitPoint = answer.HitPoint, mana = answer.Mana, superMana = answer.SuperMana}, new {@class = "answer-link", data_result = answer.AnswerResult})
    }
</div>
 <div id="viewDataContainer" data-questId="@Model.QuestId" data-questionId="@Model.QuestionId"></div>
<script src="@Url.Content("~/Content/Save.js")" type="text/javascript"></script>

